@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Notes</h1>
    <p>The "Notes" is created as Home Work in <a href="https://ithillel.ua/ru/courses/c-sharp-pro">C#_Pro</a> course.</p>
</div>

<div class="container my-5">
    <h2 class="text-primary mb-4">Завдання для реалізації</h2>

    <div class="card shadow-lg">
        <div class="card-body">
            <h5 class="card-title text-info">1. Створіть клас «Замітка»</h5>
            <p class="card-text">
                Зберігатиметься така інформація:
                <ul>
                    <li>Назва замітки</li>
                    <li>Текст замітки</li>
                    <li>Дата створення замітки</li>
                    <li>Теги</li>
                </ul>
                Реалізуйте необхідні методи і поля.
                <br><br>
                Реалізуйте виведення інформації на екран.
                <br><br>
                Використовуйте MVC-патерн у коді цієї програми.
            </p>
        </div>
    </div>

    <div class="card shadow-lg mt-4">
        <div class="card-body">
            <h5 class="card-title text-info">2. Створіть клас «Контакт»</h5>
            <p class="card-text">
                Зберігатиметься така інформація:
                <ul>
                    <li>Ім'я контакту</li>
                    <li>Мобільний телефон</li>
                    <li>Альтернативний мобільний телефон</li>
                    <li>Email</li>
                    <li>Короткий опис</li>
                </ul>
                Реалізуйте необхідні методи і поля.
                <br><br>
                Реалізуйте виведення інформації на екран.
                <br><br>
                Використовуйте MVC-патерн у коді цієї програми.
            </p>
        </div>
    </div>
</div>
